header{
	height: 20%;
	background-position:50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}

body {
	background-size: 100%;
  background-repeat: no-repeat;
}

footer{
	height:15%;
	background-color:#052F4B;
	text-align:center;
	margin-top:20%;
	color:#D91A1A;
}

.textfooter{
	padding-top: 2.5%;
}

.menu{
	height: 5%;
}

.logo{
	width:8%;
	
}

.button{
	float:right;
}